<main>
    <aside class="firstAside">
        <div class="liste-serveur">
            <div class="serveur" routerLink="/ajout-serveur" matTooltip="Créer un nouveau serveur" matTooltipPosition="right">
                <mat-icon color="primary" fontIcon="add_circle"></mat-icon>
            </div>

            <div
                *ngFor="let serveur of listeServeur; trackBy: trackById"
                (click)="OnSelectServer(serveur)"
                class="serveur"
                [matTooltip]="serveur.nom"
                matTooltipPosition="right">
                <img [attr.src]="serveur.urlLogo" />
            </div>
        </div>
        <div class="info-profil">
            <img class="avatar" src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es" />
            <span>John DOE</span>
            <mat-icon class="bouton-profil" fontIcon="settings" routerLink="/profil"></mat-icon>
        </div>
    </aside>
    <aside *ngIf="actualServer" class="secondAside">
        <div class="liste-serveur">
            <form [formGroup]="formulaire" (ngSubmit)="onAjoutSalon()">
                <mat-form-field>
                    <mat-label>Ajouter salon</mat-label>
                    <input formControlName="nom" matInput placeholder="Ex. Salon 1" />
                </mat-form-field>
            </form>
            <div *ngFor="let salon of listeSalon; trackBy: trackById" (click)="OnClickSalon(salon)" class="salon">
                <mat-icon fontIcon="mode_comment"></mat-icon>
                <span>{{ salon.nom }}</span>
            </div>
        </div>
    </aside>
    <section *ngIf="actualSalon">
        <div class="message-form">
            <form [formGroup]="messageForm" (ngSubmit)="onAjoutMessage()">
                <mat-form-field>
                    <mat-label>Votre message</mat-label>
                    <input formControlName="contenu" matInput placeholder="Tapez votre message..." />
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Envoyer</button>
            </form>
        </div>
        <div class="messages-list">
            <div *ngFor="let message of messages" class="message">
                <img class="avatar" src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es" />
                <div class="partie-message">
                    <div class="utilisateur">{{ message.idUtilisateur }}</div>
                    <p class="contenu">{{ message.contenu }}</p>
                    <span class="date">{{ message.date }}</span>
                </div>
            </div>
        </div>
    </section>
</main>
