<main>
    <aside>
        <div class="liste-serveur">
            <div class="serveur" routerLink="/ajout-serveur" matTooltip="Créer un nouveau serveur" matTooltipPosition="right">
                <mat-icon color="primary" fontIcon="add_circle"></mat-icon>
            </div>

            @for (serveur of listeServeur; track serveur._id) {

            <div (click)="OnSelectServer(serveur)" class="serveur" [matTooltip]="serveur.nom" matTooltipPosition="right">
                <img [attr.src]="serveur.urlLogo" />
            </div>
            } @if (listeSalon.length !== 0) { @for (salon of listeSalon; track salon._id) {
            <div class="salon" [matTooltip]="salon.nom" matTooltipPosition="right"></div>
            } }
        </div>
        <div class="info-profil">
            <img class="avatar" src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es" />
            <span>John DOE</span>
            <mat-icon class="bouton-profil" fontIcon="settings" routerLink="/profil"></mat-icon>
        </div>
    </aside>
    @if (actualServer) {
    <aside>
        <div class="liste-serveur">
            <form [formGroup]="formulaireSalon" (ngSubmit)="onAjoutSalon()">
                <mat-form-field>
                    <mat-label>Ajouter salon</mat-label>
                    <input formControlName="nom" matInput placeholder="Ex. Salon 1" />
                </mat-form-field>
            </form>
            @for (salon of listeSalon; track salon._id) {
            <div (click)="onClickSalon(salon)" class="salon" matTooltipPosition="right">
                <mat-icon fontIcon="mode_comment"></mat-icon>
                <span>{{ salon.nom }}</span>
            </div>
            }
        </div>
    </aside>
    <div class="liste-message">
        <form [formGroup]="formulaireMessage" (ngSubmit)="onAjoutMessage()">
            <mat-form-field>
                <mat-label>Ajouter un message</mat-label>
                <input matInput formControlName="contenu" placeholder="..." />
            </mat-form-field>
        </form>
    </div>
    } @if (listeMessage) {
    <div class="liste-message">
        <div class="message">
            <img class="avatar" src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es" />
            <div class="partie-message">
                <div class="utilisateur">John DOE</div>
                <p class="contenu">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias iste quasi odit quos reprehenderit repellendus natus quas consequatur
                    aliquam minima, sunt eum facere sit unde voluptatibus ullam neque amet? Ipsam?
                </p>
            </div>
        </div>
    </div>
    }
</main>
